@import '../../css/theme.scss';

/* Star */
.star-holder {
  position: relative;
}
.star-holder img.checked {
  color: $favorite-icon-color;
}

.star-holder img.unchecked {
  color: $favorite-icon-outline-color;
  position: absolute;
  left: 0;
  top: 0;
}

/* Checkbox to favorite a page */

.checkbox-favorites {
  display: none;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5px;
}

.page[data-page="toc"] .checkbox-favorites {
  display: flex;
}

.page[data-page="content"] .checkbox-favorites {
  display: flex;
}

.page.favoritable .checkbox-favorites {
  display: flex;
}

.checkbox-favorites {
  input {
    display: none !important;
  }

  .checked {
    visibility: hidden;
  }

  input:checked+label .checked {
    visibility: inherit;
  }
}

/* Conditional Content */

.favorites-nonempty .hide-on-favorites {
  display: none;
}

/* Favorite Link/Tiles */

.favorites-list {
  background-color: $favorite-list-background-color;
}

.linktiles>ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0px !important;
}

.linktiles .tile {
  background-color: $tile-background;
  border-style: $tile-border-style; 
  border-color: $tile-border-color;
  border-width: $tile-border-width;
  flex-grow: 1;
  list-style: none;
  padding: 6px;
  margin: 6px;
  min-width: 50px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linktiles .tile .tile-link {
  align-items: center;
  color: $tile-text-color;
  height: 100%;
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
}

.linktiles .tile .close-tile {
  position: relative;
}

img.favorite-icon {
  width: 40px;
  height: 40px;
}

.linktiles .tile img {
  margin-right: 15px;
  background-color: $tile-image-background;
  padding: 5px;
  border-radius: 6px;
  max-height:50px;
  max-width: 50px;
}

.linktiles .tile span {
  flex-grow: 1;
  text-align: center;
}