@import '../../css/theme.scss';

#app .settings-header {
  font-weight: bold;
  .item-inner {
    margin-left: 0px;
    padding-right: 2px;
  }
  i.icon {
    color: $navbar-background;
  }
}

#app #language-choices {
  .current-locale {
    font-weight: bold !important;
    pointer-events: none !important;
  }
}