@import 'theme.scss';


%f7-icon {
  font-family: 'Framework7 Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
  text-align: center;
}

/* Buttons and links */


.button {
  border: 2px solid $link-border-color;
  font-weight: bold;
  color: black;
  margin: 5px;
  padding: 5px;
  white-space: normal;
  height: initial;
  line-height: inherit;
}

/* default link color */

#app {

  .inline-link,
  .external {
    color: $inline-link-text-color;
  }

  a.button-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $button-link-background-color;
    border: 1px solid $button-link-text-color;
    border-radius: 15px;
    color: $button-link-text-color;
    margin: 10px 15px 10px 15px;
    min-height: 50px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    font-weight: bold;
    line-height: 25px;
    
    &.button-next {
      position: relative;
      background-color: $button-link-text-color;
      color: $button-link-background-color;
      padding-right: 30px;

      &::after {
        @extend %f7-icon;
        content: 'chevron_right';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
      }
    }
  }
}