/*
 *  navbar.scss
 */

@import 'theme.scss';


#app .navbar {
  background-color: $navbar-background;
  color: $navbar-textcolor;
  border: 0px;
}

#app .navbar .subnavbar, .navbar .searchbar {
  background-color: $subnavbar-background;
  border-color: $subnavbar-background;
}

#app .navbar .searchbar input::placeholder {
  color: $navbar-textcolor;
}

.global-search {
  display: none;
}

#app.global-search-in .global-search {
  display: inherit;
}

/* Center the navbar title even in md theme */
.navbar .title {
  position: relative;
  flex-grow: 1;
  max-height: 100%;
}
.navbar .title > img {
  height: 45px;
}

/* Disable f7 horizontal rules */
.navbar:after {
	display: none;
}

.navbar, .page-content {
  padding: 0px 8px;
  background-clip: content-box;
}



.navbar .left {
	margin-left: 5px;
  height: 100%;
}

.navbar .right {
	margin-right: 5px;
  height: 100%;
}

/* Navbar 44px with 8px top margin */
.navbar {
	height: 52px;
  padding: 0px;
  border-color: #efeff4; /* Border serves as margin, so content isn't visibile above navbar on scroll */
  border-style: solid;
  border-width: 8px 8px 0px 8px;
  background-color: #0071b7;
}

.secondary-navbar > .subnavbar-inner {
  padding-left: 0px;
  padding-right: 0px;
}

/* Navbar Back and Menu buttons */
.navbar-f7-icons {
  font-weight: bold;
  color: white;
}


.navbar-right {
  margin-left: auto;
}

.navbar-home-title {
  padding-left: 10px;
}


/* Content pages */
.page.content ul, .page.content ol {
  padding-left: 20px;
}

.page.content ul > li, .page.content ol > li {
  margin-bottom: 10px;
}

/* Content starts (44+8)px down */
.tabbar-fixed .page-content, .tabbar-through .page-content,
.toolbar-fixed .page-content, .toolbar-through .page-content {
	padding-top: 52px;
}